* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pretendard, sans-serif;
}

/* 다크모드 */
:root {
  --primary-color: #F3F3F3;
  --secondary-color: #1B1B1B;
}
.darkTheme{
  --primary-color: #2e2e2e;
  --secondary-color: #fafafa;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: 0.1s;
}

/* 내비게이터 */
nav {
  position: fixed;
  width: 100%;
  padding: 25px 25%;
  height: 70px;
  margin: 0 auto;
  color: var(--secondary-color);
  font-size: 18px;
  background-color: var(--primary-color);
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.1));
  z-index: 1;
}

nav a{
  font-weight: 900;
}

/* 내비게이터 리스트 */
ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 15px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.1s;
}

nav a:hover {
  color: #ECC734;
}

/* 로고 */
.logo {
  float: left;
}

.logo img {
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  transform: translateY(-15%);
}

.logo p{
  margin-left: 40px;
}

#toggle {
  margin-left: 20px;
  cursor: pointer;
  transition: 0.1s;
}

#toggle:hover {
  color: #ECC734;
}

/* 인삿말 */

.greeting {
  padding: 16% 10% 15% 30%;
  font-size: 3vh;
}

.greeting img {
  width: 300px;
  height: 300px;
  float: left;
  margin: 0 90px 300px 0;
}

.greetingText {
  
  margin-top: 20px;
}

.greetingText h2 {
  margin-bottom: 10px;
}

/* 강조글씨 */
.highlightText {
  transition: 0.8s;
  transition-timing-function: ease;
}

.greeting:hover .highlightText {
  /* margin: 20px 0 20px 0; */
  color: #ECC734;
  transform: scale(105%);
}

/* 메인 공통 */
main {
  padding: 0 30% 150px 30%;
}

main>div {
  padding-top: 250px;
}

main h1 {
  font-weight: 900;
  margin-bottom: 50px;
}

/* 히스토리 */
#history h2 {
  margin: 15px 0 10px 0;
}

#history div {
  display: inline-block;
  position: relative;
  margin: 0 70px 20px 0;
}

#history li {
  list-style: none;
}

/* 히스토리 배경 */
.container {
  background-color: rgb(192, 192, 192, 20%);
  border-radius: 20px;
  padding: 40px 0 45px 80px;
  width: 110%;
  transition: 0.5s;
}

/* 스킬 */
/* 스킬 섹션 나누기 */
.sectionA {
  float: left;
  width: 50%;
  height: 100%;
}

.sectionA img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 35px;
  display: block;
  margin-left: 50%;
}

.skill {
  margin-bottom: 30px;
}

.skill h2 {
  margin-bottom: 10px;
}

/* 프로그레시브 바 조절 */
.progress {
  appearance: none;
}

.progress::-webkit-progress-bar {
  border-radius: 10px;
  background: rgb(192, 192, 192, 20%);
  width: 180%;
}

.progress::-webkit-progress-value {
  border-radius: 10px;
  background: #ECC734;
}

/* 프로젝트 */
.project img{
  float: left;
  margin: 0 70px 30px 0;  
  width: 225px;
  height: 300px;
}

/* 빈 포스터 */
.poster {
  float: left;
  margin: 0 70px 30px 0;
  width: 225px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
}

.boxTitle {
  margin-bottom: 17px;
}

.project h3 {
  margin: 20px 0 25px 0;
  font-size: 14px;
  color: #757575;
}

.project p {
  margin: 30px 0 70px 0;
}

/* 웹프로젝트 */
.webProject {
  text-align: center;
}

.webProject h3 {
  margin: 80px 0 25px 0;
  font-size: 14px;
  color: #757575;
}


.webProject img {
  border-radius: 5px;
  width: 60%;
  float: left;
  margin: 30px 30px 50px 0;
}

.webProject p {
  text-align: left;
  margin-top: 40px;
}


/* 프로젝트 스킬 박스 */
.skillBox {
  color: #2e2e2e;
  background-color: #ECC734;
  font-weight: 800;
  font-size: 11px;
  border-radius: 20px;
  padding: 3px 8px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.webProject a {
  text-decoration: none;
  color: var(--secondary-color);
}

.btn {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 7px;
  text-align: center;
  margin-top: 40px;
  padding: 10px 20px;  
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #ECC734;
}

/* 컨택트 */
.contact {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contact h3 {
  margin-left: 20px;
  transform: translateY(-5px);
}

/* 푸터 */
footer {
  background-color: #ECC734;
  text-align: center;
  padding: 80px 30px 100px 30px;
  font-weight: 300;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

footer p {
  margin: 20px 0 0 0;
  font-size: 12px;
}


/* 미디어쿼리 */
@media screen and (max-width: 768px) {
  nav {
   padding: 5% 10% 5% 20%;
  }

  .greeting {
    padding: 30% 25% 40% 25%;
    font-size: 23px;
    display: inline-block;
  }
  .greeting img {
    width: 250px;
    height: 250px;
    margin: 0 90px 50px 0;
  }
  
  main {
    padding: 0 10% 100px 10%;
  }

  .container {
    width: 100%;
  }

  .sectionA {
    float: left;
    width: 30%;
    height: 100%;
  }
  .sectionA img {
    width: 50px;
    height: 50px;
    margin-top: 7px;
    margin-bottom: 35px;
    display: block;
    margin-left: 47%;
  }
}